extends layout

block content
	//- Start kill and loss table
	.row
		.col-md-12
			h2 Recent Activity
			table.table.table-dark.table-striped
				thead
					tr
						th Time
						th Bot
						th Zone
						th Victim
						th Final Blow
				tbody
					//- Iterate through all the kills that were passed from the server
					for kill in kills.docs
						tr(onclick="show_hide_detail(#{kill.id})")
							td #{moment(kill.date).format('YYYY-MM-DD HH:mm:ss')}
							td
								//- Check to see if the robot that was killed was a regular, MK2, or prototype
								//- This returns the MINI image of the robot
								if kill.robot.name.includes(' MK2')
									- var robotName = kill.robot.name
									- robotName = robotName.replace(' MK2', '')
									- robotName = robotName.toLowerCase()
									a(href='/robots?id=#{kill.robot.id}')
										img.rounded-sm(src='/images/icon_mech_#{robotName}_mk2_mini.png', alt='#{kill.robot.name')
								else if kill.robot.name.includes(' PR')
									- var robotName = kill.robot.name
									- robotName = robotName.replace(' PR', '')
									- robotName = robotName.toLowerCase()
									img.rounded-sm(src='/images/icon_mech_#{robotName}_pr_mini.png', alt='#{kill.robot.name}')
								else
									a(href='/robots?id=#{kill.robot.id}')
										img.rounded-sm(src='/images/icon_mech_#{kill.robot.name.toLowerCase()}_mini.png', alt='#{kill.robot.name}')
							td
								a(href='/zones?id=#{kill.zone.id}') #{kill.zone.name}
							td
								a(href='/agents?id=#{kill.agent.id}') #{kill.agent.name}
								a(href='/robots?id=#{kill.robot.id}') 
									.span.badge.badge-secondary #{kill.robot.name}
								br
								a(href='/corporations?id=#{kill.corporation.id}') #{kill.corporation.name}
							//- Iterate through the list of attackers and get the killing blow
							for attacker in kill.attackers
								if attacker.hasKillingBlow
									td
										a(href='/agents?id=#{attacker._embedded.agent.id}') #{attacker._embedded.agent.name} 
											if kill.attackers.length == 1
												.span.badge.badge-info SOLO
											else
												.span.badge.badge-info #{kill.attackers.length}
											br
											a(href='/corporations?id=#{attacker._embedded.corporation.id}') #{attacker._embedded.corporation.name}

						//- Start hidden kill detail table
						tr(id='#{kill.id}', style='display:none;')
							td(colspan='5')
								.row
									.col-md-6
										.table-responsive
											//- Start robot image table
											table.table.table-dark.table-striped.table-bordered.table-sm
												tbody
													tr
														td
															//- Check to see if the robot that was killed was a regular, MK2, or prototype
															//- This returns the REGULAR image of the robot
															if kill.robot.name.includes(' MK2')
																- var robotName = kill.robot.name
																- robotName = robotName.replace(' MK2', '')
																- robotName = robotName.toLowerCase()
																a(href='/robots?id=#{kill.robot.id}')
																	img.rounded-sm(src='/images/icon_mech_#{robotName}_mk2.png', alt='#{kill.robot.name')
															else if kill.robot.name.includes(' PR')
																- var robotName = kill.robot.name
																- robotName = robotName.replace(' PR', '')
																- robotName = robotName.toLowerCase()
																img.rounded-sm(src='/images/icon_mech_#{robotName}_pr.png', alt='#{kill.robot.name}')
															else
																a(href='/robots?id=#{kill.robot.id}')
																	img.rounded-sm(src='/images/icon_mech_#{kill.robot.name}.png', alt='#{kill.robot.name}')
														//- Start victim detail table
														td
															table.table-dark.table-striped.table-bordered
																tbody
																	tr
																		th Agent:
																		td #{kill.agent.name}
																	tr
																		th Corporation:
																		td #{kill.corporation.name}
																	tr
																		th Robot:
																		td #{kill.robot.name}
																	tr
																		th Zone:
																		td #{kill.zone.name}
																	tr
																		th Time:
																		td #{moment(kill.date).format('YYYY-MM-DD HH:mm:ss')}
																	tr
																		th Damage Received:
																		td #{Math.round(kill.damageReceived)}
									.col-md-6
										.table-response
											//- Start attacker detail table
											table.table.table-dark.table-striped.table-bordered.table-sm
												thead
													tr
														th.text-center Agent
														th.text-center Robot
														th.text-center Damage Dealt
												tbody
													//- Iterate through the attackers
													for attacker in kill.attackers
														tr
															td #{attacker._embedded.agent.name}
																br
																| #{attacker._embedded.corporation.name}
															td #{attacker._embedded.robot.name}
															td.text-right
																if attacker.hasKillingBlow
																	.span.badge.badge-danger KILLING BLOW
																	br
																| #{Math.round(attacker.damageDealt)} 
																.span.badge.badge-light #{Math.round((attacker.damageDealt / kill.damageReceived) * 100)}%
																br
																if attacker.totalEcmAttempts > 0
																	| #{Math.round(attacker.totalEcmAttempts)} 
																	.span.badge.badge-primary # ECM
																	br
																if attacker.sensorSuppressions > 0
																	| #{Math.round(attacker.sensorSuppressions)} 
																	.span.badge.badge-warning SS
																	br
																if attacker.energyDispersed > 0
																	| #{Math.round(attacker.energyDispersed)} 
																	.span.badge.badge-success ED

	//- Start pagination navigation
	.row.float-right
		.col-md-12
			nav.pull-right
				ul.pagination
					if kills.hasPrevPage
						li.page-item
							a.page-link(href='/?page=1&limit=10') First
						li.page-item
							a.page-link(href='/?page=#{kills.page - 1}&limit=10') <<
					if kills.page >= 4
						li.page-item
							a.page-link(href='/?page=#{kills.page - 3}&limit=10') #{kills.page - 3}
					if kills.page >= 3
						li.page-item
							a.page-link(href='/?page=#{kills.page - 2}&limit=10') #{kills.page - 2}
					if kills.page >= 2
						li.page-item
							a.page-link(href='/?page=#{kills.page - 1}&limit=10') #{kills.page - 1}
					li.page-item.active
						a.page-link(href='/?page=#{kills.page}&limit=10') #{kills.page}
					if kills.page <= kills.totalPages - 1
						li.page-item
							a.page-link(href='/?page=#{kills.page + 1}&limit=10') #{kills.page + 1}
					if kills.page <= kills.totalPages - 2
						li.page-item
							a.page-link(href='/?page=#{kills.page + 2}&limit=10') #{kills.page + 2}
					if kills.page <= kills.totalPages - 3
						li.page-item
							a.page-link(href='/?page=#{kills.page + 3}&limit=10') #{kills.page + 3}
					if kills.hasNextPage
						li.page-item
							a.page-link(href='/?page=#{kills.page + 1}&limit=10') >>
						li.page-item
							a.page-link(href='/?page=#{kills.totalPages}&limit=10') Last
			p Total Kills: #{kills.totalDocs}

	//- Start script block
	script.
		function show_hide_detail(killID) {
			$('#' + killID).toggle();
		}