extends layout

block content
  h2 Recent Activity
  table.table.table-dark.table-striped
    thead
      tr
        th Time
        th Bot
        th Zone
        th Victim
        th Final Blow
    tbody
      for kill in kills.docs
          tr(onclick="show_hide_detail(#{kill.id})")
            td #{moment(kill.date).format('YYYY-MM-DD HH:mm:ss')}
            td
              if kill.robot.name.includes('MK2')
                - var robotName = kill.robot.name
                - robotName = robotName.replace(' MK2', '')
                - robotName = robotName.toLowerCase()
                a(href='/robots?id=#{kill.robot.id}')
                  img.rounded-sm(src='/images/icon_mech_#{robotName}_mk2_mini.png', alt='#{kill.robot.name}')
              else
                a(href='/robots?id=#{kill.robot.id}')
                  img.rounded-sm(src='/images/icon_mech_#{kill.robot.name.toLowerCase()}_mini.png', alt='#{kill.robot.name}')
            td
              a(href='/zones?id=#{kill.zone.id}') #{kill.zone.name}
            td 
              a(href='/agents?id=#{kill.agent.id}') #{kill.agent.name} (#{kill.robot.name})
                br
                a(href='/corporations?id=#{kill.corporation.id}') #{kill.corporation.name}
            -var i = 0
            each attacker in kill.attackers
              - i++
            for attacker in kill.attackers
              if attacker.hasKillingBlow
                td
                  if i == 1
                    - i = 'SOLO'
                  a(href='/agents?id=#{attacker._embedded.agent.id}') #{attacker._embedded.agent.name} (#{i})
                  br
                  a(href='/corporations?id=#{attacker._embedded.corporation.id}') #{attacker._embedded.corporation.name}
          tr(id='#{kill.id}', style='display:none;')
            td(colspan='5')
              .row
                .col-md-6
                  .table-responsive
                    table.table.table-dark.table-striped.table-bordered.table-sm
                      tbody
                        tr
                          td
                            if kill.robot.name.includes('MK2')
                              - var robotName = kill.robot.name
                              - robotName = robotName.replace(' MK2', '')
                              - robotName = robotName.toLowerCase()
                              a(href='/robots?id=#{kill.robot.id}')
                                img.rounded-sm(src='/images/icon_mech_#{robotName}_mk2.png', alt='#{kill.robot.name')
                            else if kill.robot.name.includes(' PR')
                              - var robotName = kill.robot.name
                              - robotName = robotName.replace(' PR', '')
                              - robotName = robotName.toLowerCase()
                              img.rounded-sm(src='/images/icon_mech_#{robotName}_pr.png', alt='#{kill.robot.name}')
                            else
                              a(href='/robots?id=#{kill.robot.id}')
                                img.rounded-sm(src='/images/icon_mech_#{kill.robot.name}.png', alt='#{kill.robot.name}')
                          td
                            table.table-dark.table-striped.table-bordered
                              tbody
                                tr
                                  th Agent:
                                  td #{kill.agent.name}
                                tr
                                  th Corporation:
                                  td #{kill.corporation.name}
                                tr
                                  th Robot:
                                  td #{kill.robot.name}
                                tr
                                  th Zone:
                                  td #{kill.zone.name}
                                tr
                                  th Time:
                                  td #{moment(kill.date).format('YYYY-MM-DD HH:mm:ss')}
                                tr
                                  th Damage Received:
                                  td #{Math.round(kill.damageReceived)}
                .col-md-6
                  .table-responsive
                    table.table.table-dark.table-striped.table-bordered.table-sm
                      thead
                        tr
                          th.th-inner.text-center Agent
                          th.th-inner.text-center Robot
                          th.th-inner.text-center Damage Dealt
                      tbody
                        for attacker in kill.attackers
                          tr
                            if attacker.hasKillingBlow
                              td #{attacker._embedded.agent.name}
                                br
                                | #{attacker._embedded.corporation.name}
                              td #{attacker._embedded.robot.name}
                              td.text-right #{Math.round(attacker.damageDealt)} (KILLING BLOW)
                                br
                                | #{(attacker.damageDealt / kill.damageReceived).toFixed(4) * 100}%
                            else
                              td #{attacker._embedded.agent.name}
                                br
                                | #{attacker._embedded.corporation.name}
                              td #{attacker._embedded.robot.name}
                              td.text-right #{Math.round(attacker.damageDealt)}
                                br
                                | #{(attacker.damageDealt / kill.damageReceived).toFixed(4) * 100}%

  nav.pull-right(aria-label='Page navigation example')
      ul.pagination
        if kills.hasPrevPage
          li.page-item
            a.page-link(href='/?page=1&limit=10') First
          li.page-item
            a.page-link(href='/?page=#{kills.page - 1}&limit=10') <<
        if kills.page >= 4
          li.page-item
            a.page-link(href='/?page=#{kills.page - 3}&limit=10') #{kills.page - 3}
        if kills.page >= 3
          li.page-item
            a.page-link(href='/?page=#{kills.page - 2}&limit=10') #{kills.page - 2}
        if kills.page >= 2
          li.page-item
            a.page-link(href='/?page=#{kills.page - 1}&limit=10') #{kills.page - 1}
        li.page-item.active
          a.page-link(href='/?page=#{kills.page}&limit=10') #{kills.page}
        if kills.page <= kills.totalPages - 1
          li.page-item
            a.page-link(href='/?page=#{kills.page + 1}&limit=10') #{kills.page + 1}
        if kills.page <= kills.totalPages - 2
          li.page-item
            a.page-link(href='/?page=#{kills.page + 2}&limit=10') #{kills.page + 2}
        if kills.page <= kills.totalPages - 3
          li.page-item
            a.page-link(href='/?page=#{kills.page + 3}&limit=10') #{kills.page + 3}
        if kills.hasNextPage
          li.page-item
            a.page-link(href='/?page=#{kills.page + 1}&limit=10') >>
          li.page-item
            a.page-link(href='/?page=#{kills.totalPages}&limit=10') Last
  p Total Kills: #{kills.totalDocs}
  script.
    function show_hide_detail(killID) {
      $('#' + killID).toggle();
    }