extends layout

block content
	.row
		.col-md-6.align-center
			table.table.table-dark.table-striped.table-borded
				tbody
					tr
						td
							if killInfo.robot.name.includes('MK2')
								- var robotName = killInfo.robot.name
								- robotName = robotName.replace(' MK2', '')
								- robotName = robotName.toLowerCase()
								a(href='/robots?id=#{killInfo.robot.id}')
									img.rounded-sm(src='/images/icon_mech_#{robotName}_mk2.png', alt='#{killInfo.robot.name')
							else if killInfo.robot.name.includes(' PR')
								- var robotName = killInfo.robot.name
								- robotName = robotName.replace(' PR', '')
								- robotName = robotName.toLowerCase()
								img.rounded-sm(src='/images/icon_mech_#{robotName}_pr.png', alt='#{killInfo.robot.name}')
							else
								a(href='/robots?id=#{killInfo.robot.id}')
									img.rounded-sm(src='/images/icon_mech_#{killInfo.robot.name}.png', alt='#{killInfo.robot.name}')
						td
							table.table-dark.table-striped.table-bordered
								tbody
									tr
										th Agent:
										td #{killInfo.agent.name}
									tr
										th Corporation:
										td #{killInfo.corporation.name}
									tr
										th Robot:
										td #{killInfo.robot.name}
									tr
										th Zone:
										td #{killInfo.zone.name}
									tr
										th Time:
										td #{moment(killInfo.date).format('YYYY-MM-DD HH:mm:ss')}
									tr
										th Damage Received:
										td #{Math.round(killInfo.damageReceived)}
	table.table.table-dark.table-striped.table-bordered.table-sm
		thead
			tr
				th.th-inner.text-center Agent
				th.th-inner.text-center Robot
				th.th-inner.text-center Damage Dealt
		tbody
			for attacker in killInfo.attackers
				tr
					if attacker.hasKillingBlow
						td #{attacker._embedded.agent.name}
						td #{attacker._embedded.robot.name}
						td.text-right #{Math.round(attacker.damageDealt)} (KILLING BLOW)
							br
							| #{(attacker.damageDealt / killInfo.damageReceived).toFixed(4) * 100}%
					else
						td #{attacker._embedded.agent.name}
						td #{attacker._embedded.robot.name}
						td.text-right #{Math.round(attacker.damageDealt)}
							br
							| #{(attacker.damageDealt / killInfo.damageReceived).toFixed(4) * 100}%